# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
pip-log.txt

# Virtual environment
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Docker / Infrastructure
*.log
docker-compose.override.yml
infrastructure/broker-data/
infrastructure/influxdb/data/
infrastructure/broker-log/
